# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Dice And Deed.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Unity Generated folders and files
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/Assets/AssetStoreTools/

# Специфічні папки Unity, які потрібно додати
/[Ll]ogs/
/[Уу]sersettings/
/[MemoryCaptures]/

# Виключаємо файли звітів, які ми бачили на скріншоті
*.log