# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Dice And Deed.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Стандартні папки Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Уу]sersettings/
/[Mm]emoryCaptures/

# Папки середовищ розробки (IDE)
.idea/
*.iml
/shelf/
/workspace.xml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
.vs/
.vscode/

# Файли звітів та логів
*.log

# Тимчасові файли ОС
.DS_Store
Thumbs.db

# Специфічні папки Asset Store
/Assets/AssetStoreTools/